%h1
  = @page.title
- if @page.content
  = @page.content

%a(href="/pages/#{@page.id}/edit") 
  Edit this page
%form(action="/pages/delete/#{@page.id}" method="POST")
  %input(type="hidden" name="_method" value="DELETE")
  %input(type="submit" value="Delete this page")
